
@model SiteData
@{
    ViewData["Title"] = "Our Team Page";
}

<div class="container">

    <div class="row align-items-center justify-content-center">

        <div class="col">

            <h1 class="mt-5" style="text-align: center;">Our Team</h1>

            <hr class="page-title">
            <h3 class="qaf-text-light pt-3 pb-5" style="text-align: center;"> </h3>

        </div>

    </div>
</div>
<div class="container s-content-margin ">
    <div class="mb-4 py-5">

        <div class="row">

            @foreach (var employee in Model.Employees)
            {
                <div class="col col-4 col-sm-4 col-md-5 col-lg-5 col-xl-5">

                    <img src="@employee.PhotoUrl" alt="" class="img-fluid img-thumbnail">

                </div>

                <div class="col col-8 col-sm-8 col-md-7 col-lg-7 col-xl-7">

                    <h5 class="qaf-text-dark"><strong>@employee.Name</strong></h5>

                    <h5 class="qaf-text-light"><small>@employee.Title</small></h5>

                    <p class="qaf-text-dark pt-5">@employee.Details.First() ...</p>

                    <a asp-controller="OurTeam" asp-action="Member" asp-route-id="@employee.Id"><p class="qaf-text-light pt-5">Read More</p></a>

                </div>

            }

        </div>
    </div>
</div>